body {
    font-size: 20px;
    font-family: Calibri;
    background: #E6E6E6;
    font-style: inherit;
}

#contenedorPrincipal {
	display: flex;
}

.cabecera {
	display: -webkit-flex;
	display: flex;
	margin: 10px;
	padding: 5px;
	border-radius: 7px;
	border: 1px solid #6E6E6E;
	background: #819FF7;
}

/*.menu {
	display: -webkit-flex;
	display: flex;
	margin: 10px;
	padding: 5px;
	border-radius: 7px;
	border: 1px solid #6E6E6E;
	background: #819FF7;
}*/

.informacion {
	display: -webkit-flex;
	display: flex;
	margin: 10px;
	padding: 5px;
	border-radius: 7px;
	border: 1px solid #6E6E6E;
	background: #819FF7;
}

#perfil {
	min-height: 800px;
	flex: 2 1 70%;
	margin: 10px;
	padding: 5px;
	border-radius: 7px;
	border: 1px solid #6E6E6E;
	background: #819FF7;
}

#perfil .fotoperfil {
    width: 240px;
    height: 240px;
    margin: 25px;
    border-radius: 50%;
    border: 1px solid #0000FF;
    background: #5858FA;
    text-align: center;
}

#perfil .extra {
	width: 700px;
	height: 600px;
	margin-left: 300px;
	border-radius: 7px;
	border: 1px solid #0000FF;
	background: #5858FA;
	text-align: center;
}

#perfil .datos {
	width: 280px;
	height: 480px;
	margin: 10px;
	border-radius: 7px;
	border: 1px solid #0000FF;
	background: #5858FA;
	text-align: center;
}

.historial {
	flex: 1 1 30%;
	min-width: 150px;
	margin: 10px;
	padding: 5px;
	border-radius: 7px;
	border: 1px solid #6E6E6E;
	background: #819FF7;
}

.menu ul{
    list-style-type: none;
}

.menu li{
    display: inline;
    margin-right: 4px;
}

.menu li a{
    padding: 2px 7px 2px 7px;
    color: white;
    background-color: #000;
    border: 1px solid #000;
    text-decoration: none;
}

.menu li a:hover{
    background-color: #333333;
    color: #ffffff;
}