body {
    font-size: 20px;
    font-family: Calibri;
    background: #999999;
    font-style: inherit;
}

#navegador .cabecera, .informacion{
    margin: 4px;
    padding: 5px;
    border: 1px solid #8888bb;
    border-radius: 7pt;
    background: #ccccff;
    -webkit-flex: 1 6 20%;
    flex: 1 6 20%;

    order: 1;
}

#navegador .menu{
    margin: 4px;
    padding: 5px;
    border: 1px solid #8888bb;
    border-radius: 7pt;
    background: #ccccff;
    -webkit-flex: 1 6 20%;
    flex: 1 6 20%;

    order: 2;
}

#main {
    min-height: 800px;
    margin: 0px;
    padding: 0px;
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-flow: row;
    flex-flow: row;
}

#navegador{
    min-height: 100px;
    margin: 0px;
    padding: 0px;
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-flow: column;
    flex-flow: column;
}

#main .principal{
    margin: 4px;
    padding: 5px;
    border: 1px solid #cccc33;
    border-radius: 7pt;
    background: #dddd88;
    -webkit-flex: 3 1 60%;
    flex: 3 1 60%;

    order: 1;
}

#main .noticias{
    margin: 4px;
    padding: 5px;
    border: 1px solid #8888bb;
    border-radius: 7pt;
    background: #ccccff;
    -webkit-flex: 1 6 20%;
    flex: 1 6 20%;

    order: 2;
}

@media all and (max-width: 640px) {

    #main, #page {
        -webkit-flex-flow: column;
        flex-flow: column;
    }

    #main .principal,  #main .noticias {
        /* Return them to document order */

        order: 0;
    }

    #main .noticias, header, footer {
        min-height: 50px;
        max-height: 50px;
    }
}