.encabezado{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}

.menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    flex: auto;
}

.menu-item{
    font-family: Consolas;
    font-size: large;
    margin: 10px 10px;
    background-color: orange;
    padding: 4px 4px;
    flex: 1 1 auto;
}

.menu-item:hover{
    margin: 10px 10px;
    background-color: ghostwhite;
    padding: 4px 4px 4px 4px;
    flex: 1 1 auto;
}

.menu-item:active{
    margin: 10px 10px;
    background-color: chocolate;
    padding: 4px 4px;
    flex: 1 1 auto;
}