header{
    background: url("../img/background_opt.jpg");
    width:100%;
    padding:20px;
    /* Flexbox */
    display: flex;
    justify-content:space-between;
    align-items:center;
    flex-flow:row wrap;
}

header .logo {
    color:#fff;
    font-size:30px;
}

header .logo img {
    width:50px;
    vertical-align: top;
}

header .logo a {
    color:#fff;
    text-decoration: none;
    line-height:50px;
}

header nav {
    width:50%;
    /* Flexbox */
    display:flex;
    flex-wrap:wrap;
    align-items:center;
}

header nav a {
    background: #c0392b;
    color:#fff;
    text-align: center;
    text-decoration: none;
    padding:10px;
    flex-grow:1;
}

header nav a:hover {
    background:#e74c3c;
}

header nav a:active{
    background: #000;
}